
@mixin wide-container {
    width: 100%;
    padding-left:0;
    padding-right:0;
    margin: 24px 0;
       
    @media(max-width: 768px){
           display: inline-block;
    }
    @media(min-width: 769px){
        display: inline-flex;
    }
    
}

@mixin half-col {
    @media(max-width: 768px){
          width: 100%;
          display: block;
    }
    @media(min-width: 769px){
          width: 50%;
          display: inline-block;
    }
  
    margin: 0;    
    min-height: 300px;
}

@mixin ctn-main ( $bg-color ) {
    background-color: $bg-color;

    h2, h3, p {
        color: white;
    }
}

@mixin ctn-generic ( $fg-color ) {
    h1, h2, h3 {
        color: $fg-color;
    }
}

@mixin colour-scheme {
    display: inline-block;
    min-height:200px;
}

@mixin attn-links{
    padding: 18px 9px;
}

@mixin colour-variant ( $bg-color ) {

    background-color: $bg-color;
    color: white;

    p {
       position: absolute;
       bottom: 0;
    }

    p:before {
        content: "" + $bg-color;
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        padding: 9px 116px;
        margin: 0;
        position: relative;
        left: -15px;
        display: inline-block;
        bottom: -29px;
        text-transform: uppercase;
    }
}

@mixin footer{
    padding: 18px 0;
    margin-top: 9px;
}

@mixin footer-appearance ( $bg-color, $fg-color ) {
    background-color: $bg-color;
    color: $fg-color;
}