@import url('https://fonts.googleapis.com/css?family=Raleway:800');
@import url('https://fonts.googleapis.com/css?family=Numans');

$heading-font: 'Raleway', sans-serif;
$body-font: 'Numans', sans-serif;

@mixin website-header ( $header-color, $body-color ) {
    h1 {
        color: $header-color;
    }

    p {
        color: $body-color;
    }
}

@mixin header ( $fg-color ) {
    color: $fg-color;
}
