################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp/packages/
/WebApp/WebApp/obj/
/WebApp/WebApp/Properties/PublishProfiles/thechameleon-web - Web Deploy.pubxml
/WebApp/WebApp/Properties/PublishProfiles/thechameleon-web - FTP.pubxml
