<div class="slideshow-container">
    <div class="slide mySlides fade">
        <p class="text">
            Chameleons catch their prey by ballistically shooting their long tongue from a distance.
        </p>
    </div>
    <div class="slide mySlides fade">
        <p class="text">
            Chameleons are not deaf: they can detect sound frequencies in the range of 200-600 Hz.
        </p>
    </div>
    <div class="slide mySlides fade">
        <p class="text">
            Declining chameleon numbers are due to pollution and deforestation.
        </p>
    </div>
    <div class="slide mySlides fade">
        <p class="text">
            Each eye of the chameleon can move independently and hence view objects separately.
        </p>
    </div>
    <div class="slide mySlides fade">
        <p class="text">
            Chameleons are blessed with vision in both the visible spectrum (as humans do) and also in ultraviolet light.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center slider-nav">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
    </div>
</div>
