<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p>
                <a href="https://github.com/clydedz/TheChameleon" target="_blank" onclick="trackOutboundLink('Link click', 'The Chameleon - GitHub page');">
                    <i class="mdi mdi-github-circle mdi-36px"></i>
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>The Chameleon &copy; @DateTime.Now.Year - <a href="https://clydedsouza.net" target="_blank" onclick="trackOutboundLink('Link click', 'Clyde DSouza personal website');">Clyde D'Souza</a></p>
        </div>
    </div>
</div>
