<!--Meta-->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>@ViewBag.Title | The Chameleon</title>

<meta name="description" content="The Chameleon is a site that changes colour based on your choice. Just use the theme picker to see it in action.">
<meta name="Keywords" content="Chameleon, themes, colours, picker, changing colours, site, website" />
<meta name="author" content="Clyde D'Souza">
<link rel="canonical" href="https://thechameleon-web.azurewebsites.net">
<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.txt">
<link type="text/plain" rel="author" href="/humans.txt" />
@*<meta name="msvalidate.01" content="" />*@

<!--CSS-->
<link type="text/css" rel="stylesheet" media="all" href="~/Content/Main.min.css" />
<link type="text/css" rel="stylesheet" media="all" href="~/Content/Retro.min.css" id="CssTheme" />
<link href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css" rel="stylesheet">

<!--Open graph-->
<meta property="og:locale" content="en_US">
<meta property="og:title" content="@ViewBag.Title | The Chameleon" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://thechameleon-web.azurewebsites.net" />
<meta property="og:image" content="https://raw.githubusercontent.com/ClydeDz/TheChameleon/master/WebApp/WebApp/Images/Banners/site-teaser.png" />
<meta property="og:description" content="The Chameleon is a site that changes colour based on your choice. Just use the theme picker to see it in action." />
@*<meta property="fb:app_id" content="" />*@
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://thechameleon-web.azurewebsites.net">
<meta name="twitter:creator" content="ClydeDz">

<link href="https://plus.google.com/u/0/+ClydeDsouzaPlus" rel="publisher" />

<!--Icons, Chrome browser color change, Windows tile settings-->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="icon" type="image/png" href="Images/Icons/favicon-32x32.png">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" type="image/png" href="Images/Icons/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="Images/Icons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="Images/Icons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="Images/Icons/android-chrome-192x192.png" sizes="192x192">
<link rel="apple-touch-icon" href="Images/Icons/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="57x57" href="Images/Icons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="Images/Icons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="Images/Icons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="Images/Icons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="Images/Icons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="Images/Icons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="Images/Icons/apple-touch-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="Images/Icons/apple-touch-icon-180x180.png" />
<meta name="theme-color" content="#fea680">
<meta name="msapplication-TileColor" content="#fea680">
<meta name="msapplication-TileImage" content="Images/Icons/apple-touch-icon-180x180.png">
<meta name="msapplication-square70x70logo" content="Images/Icons/smalltile.png" />
<meta name="msapplication-square150x150logo" content="Images/Icons/mediumtile.png" />
<meta name="msapplication-square310x310logo" content="Images/Icons/largetile.png" />

