<!DOCTYPE html>
<html lang="en">
<head>
    @{ Html.RenderPartial("~/Views/Shared/_GoogleAnalyticsPartial.cshtml");  }
    @{ Html.RenderPartial("~/Views/Shared/_HeaderPartial.cshtml");  }     
</head>
<body>
    <div>
        <header>
            @{ Html.RenderPartial("~/Views/Shared/_ThemePickerPartial.cshtml");  }
        </header>
        <div> 
            @RenderBody()
        </div>
        <footer>
            @{ Html.RenderPartial("~/Views/Shared/_FooterPartial.cshtml");  }
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
