<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The Chameleon</title>
    
    <link type="text/css" rel="stylesheet" media="all" href="~/Content/Main.min.css" />
    <link type="text/css" rel="stylesheet" media="all" href="~/Content/Retro.min.css" id="CssTheme" />
    <link href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css" rel="stylesheet">
</head>
<body>

    <div>
        <div> 
            @RenderBody()
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                      <p>
                          <a href="https://github.com/clydedz/TheChameleon">
                              <i class="mdi mdi-github"></i>
                          </a>
                      </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p>The Chameleon &copy; @DateTime.Now.Year - Clyde D'Souza</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
