@{
    ViewBag.Title = "You choose the theme for this website";
}

<div class="container ctn-theme-picker">
    <div class="row">
        <div class="col-xs-12 text-right">
            <div class="theme-picker">
                <span>Pick a theme:&nbsp;</span>
            </div>
            <div class="theme-picker">
                <div class="circle vintage" title="Vintage" onclick="updateSiteTheme('vintage', this);">
                    <div class="part part_1"></div>
                    <div class="part part_2"></div>
                    <div class="part part_3"></div>
                    <div class="part part_4"></div>
                </div>
            </div>
            <div class="theme-picker">
                <div class="circle neon" title="Neon" onclick="updateSiteTheme('neon', this);">
                    <div class="part part_1"></div>
                    <div class="part part_2"></div>
                    <div class="part part_3"></div>
                    <div class="part part_4"></div>
                </div>
            </div>
            <div class="theme-picker active">
                <div class="circle retro" title="Retro" onclick="updateSiteTheme('retro', this);">
                    <div class="part part_1"></div>
                    <div class="part part_2"></div>
                    <div class="part part_3"></div>
                    <div class="part part_4"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container website-header">
    <div class="row">
        <div class="col-xs-12">
            <img src="~/Images/Icons/cham-retro-circle.png" alt="The Chameleon's icon" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>The Chameleon</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="#" class="btn btn-main">Primary</a>
            <a href="#" class="btn btn-inverse">Inverse</a>
        </div>
    </div>
</div>

<div class="wide-container">
    <div class="half-col ctn-secondary">
        &nbsp;
    </div>
    <div class="half-col ctn-main">
        <h2>Heading 2</h2>
        <p>Chameleons are not deaf: they can detect sound frequencies in the range of 200-600 Hz.</p>
    </div>
</div>

<div class="container ctn-general">
    <div class="row">
        <div class="col-xs-12 col-sm-12 text-center">
            <h2>Did you know?</h2>
            <div id="slider">
                <div id="slider-wrapper">
                    <div class="slide">
                        <p>
                            Chameleons catch their prey by ballistically shooting their long tongue from a distance.
                        </p>
                    </div>
                    <div class="slide">
                        <p>
                            Chameleons are not deaf: they can detect sound frequencies in the range of 200-600 Hz.
                        </p>
                    </div>
                    <div class="slide">
                        <p>
                            Declining chameleon numbers are due to pollution and deforestation.
                        </p>
                    </div>
                    <div class="slide">
                        <p>
                            Each eye of the chameleon can move independently and hence view objects separately.
                        </p>
                    </div>
                    <div class="slide">
                        <p>
                            Chameleons are blessed with vision in both the visible spectrum (as humans do) and also in ultraviolet light.
                        </p>
                    </div>
                </div>
                <div id="slider-nav">
                    <a href="#" data-slide="0" class="current"></a>
                    <a href="#" data-slide="1"></a>
                    <a href="#" data-slide="2"></a>
                    <a href="#" data-slide="3"></a>
                    <a href="#" data-slide="4"></a>
                </div>
            </div>	
        </div>
    </div>
</div>

<div class="container ctn-general">
    <div class="row">
        <div class="col-xs-12">
            <h2>Colour Scheme</h2>
            <p>Some additonal description here</p>
        </div>
    </div>
</div>

<div class="wide-container">
    <div class="col-xs-6 col-sm-3 colour-scheme variant_1">
        <p>&nbsp;</p>
    </div>
    <div class="col-xs-6 col-sm-3 colour-scheme variant_2">
        <p>&nbsp;</p>
    </div>
    <div class="col-xs-6 col-sm-3 colour-scheme variant_3">
        <p>&nbsp;</p>
    </div>
    <div class="col-xs-6 col-sm-3 colour-scheme variant_4">
        <p>&nbsp;</p>
    </div>
</div>

<div class="container ctn-general">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>Learn more</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 text-center">
            <p class="attn-links">
                <a href="https://en.wikipedia.org/wiki/Chameleon" target="_blank" class="website-links">
                    <i class="mdi mdi-wikipedia"></i>Chameleon on Wikipedia
                </a>
                <a href="https://a-z-animals.com/animals/chameleon/" target="_blank" class="website-links">
                    <i class="mdi mdi-web"></i>Chameleon on A-Z animals
                </a>
            </p>
        </div>
    </div>
</div>

<script src="~/Scripts/app.min.js" type="text/javascript"></script>
