@{
    ViewBag.Title = "You choose the theme for this website";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-right">
            <span>Pick a theme:&nbsp;</span>
            <div class="theme-picker">
                <div class="circle neon" title="Neon" onclick="updateSiteTheme('neon');">
                    <div class="part part_1"></div>
                    <div class="part part_2"></div>
                    <div class="part part_3"></div>
                    <div class="part part_4"></div>
                </div>
            </div>
            <div class="theme-picker">
                <div class="circle retro" title="Retro" onclick="updateSiteTheme('retro');">
                    <div class="part part_1"></div>
                    <div class="part part_2"></div>
                    <div class="part part_3"></div>
                    <div class="part part_4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container website-header">
    <div class="row">
        <div class="col-xs-12">
            <img src="~/Images/Icons/cham-retro-sq.jpg" alt="The Chameleon's icon" class="website-icon"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>The Chameleon</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="#" class="btn btn-main">Primary</a>
            <a href="#" class="btn btn-inverse">Inverse</a>
        </div>
    </div>
</div>
<div class="wide-container">
    <div class="half-col ctn-secondary">
        &nbsp;
    </div>
    <div class="half-col ctn-main">
        <h2>Heading 2</h2>
        <p>Chameleons are not deaf: they can detect sound frequencies in the range of 200-600 Hz.</p>
    </div>
</div>

<div class="container ctn-general">
    <div class="row">
        <div class="col-xs-12 col-sm-12 text-center">
            <h2>Did you know?</h2>
            <div id="slider">
                <div id="slider-wrapper">
                    <div class="slide">
                        <p>
                            Chameleons catch their prey by ballistically shooting their long tongue from a distance.
                        </p>
                    </div>
                    <div class="slide">
                        <p>
                            Chameleons are not deaf: they can detect sound frequencies in the range of 200-600 Hz.
                        </p>
                    </div>
                    <div class="slide">
                        <p>
                            Declining chameleon numbers are due to pollution and deforestation.
                        </p>
                    </div>
                    <div class="slide">
                        <p>
                            Each eye of the chameleon can move independently and hence view objects separately.
                        </p>
                    </div>
                    <div class="slide">
                        <p>
                            Chameleons are blessed with vision in both the visible spectrum (as humans do) and also in ultraviolet light.
                        </p>
                    </div>
                </div>
                <div id="slider-nav">
                    <a href="#" data-slide="0" class="current"></a>
                    <a href="#" data-slide="1"></a>
                    <a href="#" data-slide="2"></a>
                    <a href="#" data-slide="3"></a>
                    <a href="#" data-slide="4"></a>
                </div>
            </div>	
        </div>
    </div>
</div>

<div class="container ctn-general">
    <div class="row">
        <div class="col-xs-12">
            <h2>Colour Scheme</h2>
            <p>Some additonal description here</p>
        </div>
    </div>
</div>

<div class="wide-container">
    @*<div>
        <div class="row">*@
            <div class="col-xs-6 col-sm-3 colour-scheme variant_1">
                <p>&nbsp;</p>
            </div>
            <div class="col-xs-6 col-sm-3 colour-scheme variant_2">
                <p>&nbsp;</p>
            </div>
            <div class="col-xs-6 col-sm-3 colour-scheme variant_3">
                <p>&nbsp;</p>
            </div>
            <div class="col-xs-6 col-sm-3 colour-scheme variant_4">
                <p>&nbsp;</p>
            </div>
        @*</div>
    </div>*@
</div>

<div class="container ctn-general">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>Learn more</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 text-center">
            <p class="attn-links">
                <a href="https://en.wikipedia.org/wiki/Chameleon" target="_blank" class="website-links">
                    <i class="mdi mdi-wikipedia"></i>Chameleon on Wikipedia
                </a>
                <a href="https://a-z-animals.com/animals/chameleon/" target="_blank" class="website-links">
                    <i class="mdi mdi-web"></i>Chameleon on A-Z animals
                </a>
            </p>
        </div>
    </div>
</div>
<script>
    function updateSiteTheme(theme){
        switch (theme) {
            case 'neon':
                document.getElementById('CssTheme').href = '../Content/Neon.min.css';
                break;
            case 'retro':
                document.getElementById('CssTheme').href = '../Content/Retro.min.css';
                break;
            default:
                document.getElementById('CssTheme').href = '../Content/Neon.min.css';
                break;
        }
    }

    function Slider(element) {
        this.el = document.querySelector(element);
        this.init();
    }

    Slider.prototype = {
        init: function () {
            this.links = this.el.querySelectorAll("#slider-nav a");
            this.wrapper = this.el.querySelector("#slider-wrapper");
            this.navigate();
        },
        navigate: function () {

            for (var i = 0; i < this.links.length; ++i) {
                var link = this.links[i];
                this.slide(link);
            }
        },

        animate: function (slide) {
            var parent = slide.parentNode;
            //var caption = slide.querySelector(".caption");
            //var captions = parent.querySelectorAll(".caption");
            //for (var k = 0; k < captions.length; ++k) {
            //    var cap = captions[k];
            //    if (cap !== caption) {
            //        cap.classList.remove("visible");
            //    }
            //}
            //caption.classList.add("visible");
        },

        slide: function (element) {
            var self = this;
            element.addEventListener("click", function (e) {
                e.preventDefault();
                var a = this;
                self.setCurrentLink(a);
                var index = parseInt(a.getAttribute("data-slide"), 10) + 1;
                var currentSlide = self.el.querySelector(".slide:nth-child(" + index + ")");

                self.wrapper.style.left = "-" + currentSlide.offsetLeft + "px";
                self.animate(currentSlide);

            }, false);
        },
        setCurrentLink: function (link) {
            var parent = link.parentNode;
            var a = parent.querySelectorAll("a");

            link.className = "current";

            for (var j = 0; j < a.length; ++j) {
                var cur = a[j];
                if (cur !== link) {
                    cur.className = "";
                }
            }
        }
    };

    document.addEventListener("DOMContentLoaded", function () {
        var aSlider = new Slider("#slider");

    });

</script>
