/* COLOURS */
/* COMPONENTS */
/* COMPONENTS */
/* COMPONENTS */
/* COLOURS */
/* PARTS IN THE THEME PICKER CIRCLE */
/* COLOURS */
html {
  /* WEBSITE HEADER */
  /* BUTTONS AND LINKS */
  /* CONTAINERS */
  /* SLIDER */
  /* COLOUR SCHEME */
  /* FOOTER */ }
  html body {
    color: #FC4A1A; }
  html .website-header h1 {
    color: #4ABDAC; }
  html .btn-main {
    color: #FC4A1A;
    background-color: #DFDCE3;
    border-color: #DFDCE3; }
    html .btn-main:hover, html .btn-main:focus {
      color: #FC4A1A;
      background-color: #d2ced8; }
  html .btn-inverse {
    color: #F7B733;
    background-color: #FC4A1A;
    border-color: #FC4A1A; }
    html .btn-inverse:hover, html .btn-inverse:focus {
      color: #F7B733;
      background-color: #f93803; }
  html a.website-links {
    color: #FC4A1A; }
    html a.website-links:hover, html a.website-links:focus {
      color: #f93803;
      border-bottom-color: #FC4A1A; }
  html .ctn-main {
    background-color: #DFDCE3; }
    html .ctn-main h1, html .ctn-main h2, html .ctn-main h3, html .ctn-main p {
      color: #FC4A1A; }
  html .ctn-general h1, html .ctn-general h2, html .ctn-general h3 {
    color: #4ABDAC; }
  html .ctn-secondary > div {
    background-color: rgba(57, 155, 141, 0.4); }
  html .slide:before, html .slide:after {
    color: #F7B733; }
  html .dot {
    color: #F7B733;
    border: 1px solid #DFDCE3;
    background-color: #DFDCE3; }
    html .dot.active {
      border-color: #F7B733;
      background-color: #F7B733; }
  html .colour-scheme.variant_1 {
    background-color: #4ABDAC;
    color: white; }
    html .colour-scheme.variant_1 p:before {
      content: "#4ABDAC"; }
  html .colour-scheme.variant_2 {
    background-color: #FC4A1A;
    color: white; }
    html .colour-scheme.variant_2 p:before {
      content: "#FC4A1A"; }
  html .colour-scheme.variant_3 {
    background-color: #F7B733;
    color: white; }
    html .colour-scheme.variant_3 p:before {
      content: "#F7B733"; }
  html .colour-scheme.variant_4 {
    background-color: #DFDCE3;
    color: white; }
    html .colour-scheme.variant_4 p:before {
      content: "#DFDCE3"; }
  html footer {
    background-color: #FC4A1A;
    color: #DFDCE3; }
    html footer a {
      color: #F7B733; }
      html footer a:hover, html footer a:focus {
        color: #f6ae1a;
        border-bottom-color: #F7B733; }

