/* COLOURS */
/* COMPONENTS */
/* COMPONENTS */
/* COMPONENTS */
/* COLOURS */
/* PARTS IN THE THEME PICKER CIRCLE */
/* COLOURS */
html {
  /* WEBSITE HEADER */
  /* BUTTONS AND LINKS */
  /* CONTAINERS */
  /* SLIDER */
  /* COLOUR SCHEME */
  /* FOOTER */ }
  html body {
    color: #0f0f0f; }
  html .website-header h1 {
    color: #373737; }
  html .btn-main {
    color: #0f0f0f;
    background-color: #b7b7af;
    border-color: #b7b7af; }
    html .btn-main:hover, html .btn-main:focus {
      color: #0f0f0f;
      background-color: #ababa2; }
  html .btn-inverse {
    color: #848388;
    background-color: #0f0f0f;
    border-color: #0f0f0f; }
    html .btn-inverse:hover, html .btn-inverse:focus {
      color: #848388;
      background-color: #020202; }
  html a.website-links {
    color: #0f0f0f; }
    html a.website-links:hover, html a.website-links:focus {
      color: #020202;
      border-bottom-color: #0f0f0f; }
  html .ctn-main {
    background-color: #b7b7af; }
    html .ctn-main h1, html .ctn-main h2, html .ctn-main h3, html .ctn-main p {
      color: #0f0f0f; }
  html .ctn-general h1, html .ctn-general h2, html .ctn-general h3 {
    color: #373737; }
  html .ctn-secondary > div {
    background-color: rgba(30, 30, 30, 0.4); }
  html .slide:before, html .slide:after {
    color: #848388; }
  html .dot {
    color: #848388;
    border: 1px solid #b7b7af;
    background-color: #b7b7af; }
    html .dot.active {
      border-color: #848388;
      background-color: #848388; }
  html .colour-scheme.variant_1 {
    background-color: #373737;
    color: white; }
    html .colour-scheme.variant_1 p:before {
      content: "#373737"; }
  html .colour-scheme.variant_2 {
    background-color: #0f0f0f;
    color: white; }
    html .colour-scheme.variant_2 p:before {
      content: "#0f0f0f"; }
  html .colour-scheme.variant_3 {
    background-color: #848388;
    color: white; }
    html .colour-scheme.variant_3 p:before {
      content: "#848388"; }
  html .colour-scheme.variant_4 {
    background-color: #b7b7af;
    color: white; }
    html .colour-scheme.variant_4 p:before {
      content: "#b7b7af"; }
  html footer {
    background-color: #0f0f0f;
    color: #b7b7af; }
    html footer a {
      color: #848388; }
      html footer a:hover, html footer a:focus {
        color: #77767b;
        border-bottom-color: #848388; }

