/* COLOURS */
/* COMPONENTS */
/* COMPONENTS */
/* COMPONENTS */
@import url("https://fonts.googleapis.com/css?family=Raleway:800");
@import url("https://fonts.googleapis.com/css?family=Numans");
/* PARTS IN THE THEME PICKER CIRCLE */
/* COLOURS */
body {
  /* WEBSITE HEADER */
  /* BUTTONS AND LINKS */
  /* CONTAINERS */
  /* SLIDER */
  /* COLOUR SCHEME */
  /* FOOTER */ }
  body body {
    color: #0E0B16; }
  body .website-header h1 {
    color: #4717F6; }
  body .website-header p {
    color: #0E0B16; }
  body .btn-main {
    color: #0E0B16;
    background-color: #E7DFDD;
    border-color: #E7DFDD; }
    body .btn-main:hover, body .btn-main:focus {
      color: #0E0B16;
      background-color: #dcd1ce; }
  body .btn-inverse {
    color: #A239CA;
    background-color: #0E0B16;
    border-color: #0E0B16; }
    body .btn-inverse:hover, body .btn-inverse:focus {
      color: #A239CA;
      background-color: #030305; }
  body a.website-links {
    color: #0E0B16; }
    body a.website-links:hover, body a.website-links:focus {
      color: #030305;
      border-bottom-color: #0E0B16; }
  body .ctn-main {
    background-color: #E7DFDD; }
    body .ctn-main h1, body .ctn-main h2, body .ctn-main h3, body .ctn-main p {
      color: #0E0B16; }
  body .ctn-general h1, body .ctn-general h2, body .ctn-general h3 {
    color: #4717F6; }
  body .slide:before, body .slide:after {
    color: #A239CA; }
  body #slider-nav a {
    color: #A239CA;
    border: 1px solid #E7DFDD;
    background-color: #E7DFDD; }
    body #slider-nav a.current {
      border-color: #A239CA;
      background-color: #A239CA; }
  body .colour-scheme.variant_1 {
    background-color: #4717F6;
    color: white; }
    body .colour-scheme.variant_1 p:before {
      content: "#4717F6"; }
  body .colour-scheme.variant_2 {
    background-color: #0E0B16;
    color: white; }
    body .colour-scheme.variant_2 p:before {
      content: "#0E0B16"; }
  body .colour-scheme.variant_3 {
    background-color: #A239CA;
    color: white; }
    body .colour-scheme.variant_3 p:before {
      content: "#A239CA"; }
  body .colour-scheme.variant_4 {
    background-color: #E7DFDD;
    color: white; }
    body .colour-scheme.variant_4 p:before {
      content: "#E7DFDD"; }
  body footer {
    background-color: #0E0B16;
    color: #E7DFDD; }
    body footer a {
      color: #A239CA; }
      body footer a:hover, body footer a:focus {
        color: #9331b8;
        border-bottom-color: #A239CA; }

