/* COLOURS */
/* COMPONENTS */
/* COMPONENTS */
/* COMPONENTS */
@import url("https://fonts.googleapis.com/css?family=Raleway:800");
@import url("https://fonts.googleapis.com/css?family=Numans");
/* PARTS IN THE THEME PICKER CIRCLE */
/* COLOURS */
body {
  /* WEBSITE HEADER */
  /* BUTTONS AND LINKS */
  /* CONTAINERS */
  /* SLIDER */
  /* COLOUR SCHEME */
  /* FOOTER */ }
  body body {
    color: #e9e7da; }
  body .website-header h1 {
    color: #cd434f; }
  body .website-header p {
    color: #e9e7da; }
  body .btn-main {
    color: #e9e7da;
    background-color: #373f27;
    border-color: #373f27; }
    body .btn-main:hover, body .btn-main:focus {
      color: #e9e7da;
      background-color: #292f1d; }
  body .btn-inverse {
    color: #636b46;
    background-color: #e9e7da;
    border-color: #e9e7da; }
    body .btn-inverse:hover, body .btn-inverse:focus {
      color: #636b46;
      background-color: #dfddca; }
  body a.website-links {
    color: #e9e7da; }
    body a.website-links:hover, body a.website-links:focus {
      color: #dfddca;
      border-bottom-color: #e9e7da; }
  body .ctn-main {
    background-color: #373f27; }
    body .ctn-main h1, body .ctn-main h2, body .ctn-main h3, body .ctn-main p {
      color: #e9e7da; }
  body .ctn-general h1, body .ctn-general h2, body .ctn-general h3 {
    color: #cd434f; }
  body .slide:before, body .slide:after {
    color: #636b46; }
  body #slider-nav a {
    color: #636b46;
    border: 1px solid #373f27;
    background-color: #373f27; }
    body #slider-nav a.current {
      border-color: #636b46;
      background-color: #636b46; }
  body .colour-scheme.variant_1 {
    background-color: #cd434f;
    color: white; }
    body .colour-scheme.variant_1 p:before {
      content: "#cd434f"; }
  body .colour-scheme.variant_2 {
    background-color: #e9e7da;
    color: white; }
    body .colour-scheme.variant_2 p:before {
      content: "#e9e7da"; }
  body .colour-scheme.variant_3 {
    background-color: #636b46;
    color: white; }
    body .colour-scheme.variant_3 p:before {
      content: "#636b46"; }
  body .colour-scheme.variant_4 {
    background-color: #373f27;
    color: white; }
    body .colour-scheme.variant_4 p:before {
      content: "#373f27"; }
  body footer {
    background-color: #e9e7da;
    color: #373f27; }
    body footer a {
      color: #636b46; }
      body footer a:hover, body footer a:focus {
        color: #555c3c;
        border-bottom-color: #636b46; }

