/* COMPONENTS */
@import "../Components/_containers";

.wide-container{
    @include wide-container;
}

.half-col{
    @include half-col;
}

.colour-scheme{
    @include colour-scheme;
}

.ctn-main{
    padding: 9px 18px;
}

.attn-links {
    @include attn-links;
}

.ctn-secondary{
    background: url('https://i.ytimg.com/vi/yZ5mMJROjdg/hqdefault.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
    
    > div{
        overflow: hidden;
        height: 100%;
        z-index: 2;
    }
}