.website-header {
    padding-top: 18px;
    padding-bottom: 18px;

    h1 {
        font-size: 7vh;
        margin: 20px 0;
    }

    img {
        border-radius: 60px;
        width: 70px;
    } 
}