/* COMPONENTS */
@import "_buttons";
@import "_containers";
@import "_theme-picker";
@import "_header";
@import "_slider";
@import "_text";
@import "_footer";

body {
    overflow-x: hidden;
}

.body-content {
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

