/* COLOURS */
@import '../Colours/_retro.scss';
@import '../Colours/_neon.scss';

/* COMPONENTS */
@import "_buttons";
@import "_containers";
@import "_theme-picker";
@import "_header";

body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.body-content {
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}