/* COMPONENTS */
@import "../Components/_theme-picker";
@import "../Components/_breakpoints";

.ctn-theme-picker {
    .theme-picker {
        @include theme-picker-appearance;

        /* APPEARANCE OF THE PICKER */
        display: inline-block;
        background-color: transparent;
        padding: 9px 7px;
        border-top: 3px solid transparent;

        @media (max-width: $small-breakpoint) {
            margin-bottom: 24px;
        }

        span {
            font-size: small;
            display: block;
            position: relative;
            bottom: 4px;
        }
        /* THEMES */
        .circle {
            border-radius: 50%;
            width: 20px;
            height: 20px;
            overflow: hidden;
            display: inline-block;
            cursor: pointer;
            margin-right: 9px;

            &:last-child {
                margin-right: 0;
            }

            > .part {
                float: left;
                width: 25%;
                height: 100%;
            }

            &.neon {
                @include theme-picker-parts( nth($neon_colours, 1), nth($neon_colours, 2), nth($neon_colours, 3), nth($neon_colours, 4) );
            }

            &.retro {
                @include theme-picker-parts( nth($retro_colours, 1), nth($retro_colours, 2), nth($retro_colours, 3), nth($retro_colours, 4) );
            }

            &.vintage {
                @include theme-picker-parts( nth($vintage_colours, 1), nth($vintage_colours, 2), nth($vintage_colours, 3), nth($vintage_colours, 4) );
            }

            &.fun {
                @include theme-picker-parts( nth($fun_colours, 1), nth($fun_colours, 2), nth($fun_colours, 3), nth($fun_colours, 4) );
            }

            &.pop {
                @include theme-picker-parts( nth($pop_colours, 1), nth($pop_colours, 2), nth($pop_colours, 3), nth($pop_colours, 4) );
            }

            &.grayscale {
                @include theme-picker-parts( nth($grayscale_colours, 1), nth($grayscale_colours, 2), nth($grayscale_colours, 3), nth($grayscale_colours, 4) );
            }
        }
    }
}
