/* COLOURS */
@import '../Colours/_retro';
@import '../Colours/_neon';
@import '../Colours/_vintage';

/* COMPONENTS */
@import "../Components/_theme-picker";

$themepicker-color: red;

.ctn-theme-picker {
    .theme-picker {

        /* APPEARANCE OF THE PICKER */
        display: inline-block;
        background-color: transparent;
        padding: 9px 7px;
        border-top: 3px solid transparent;

        &.active {
            border-top: 3px solid $themepicker-color;
        }

        span {
            font-size: small;
            display: block;
            position: relative;
            bottom: 4px;
        }

        &:hover, &:focus {
            background-color: lighten( $themepicker-color, 47% );
        }

        &:first-child:hover {
            background-color: transparent;
        }

        /* THEMES */
        .circle {
            border-radius: 50%;
            background: gray;
            width: 20px;
            height: 20px;
            overflow: hidden;
            display: inline-block;
            cursor: pointer;
            margin-right: 9px;

            &:last-child {
                margin-right: 0;
            }

            > .part {
                float: left;
                width: 25%;
                height: 100%;
            }

            &.neon {
                 @include theme-picker-parts( nth($neon_colours, 1), nth($neon_colours, 2), nth($neon_colours, 3), nth($neon_colours, 4) );
            }

            &.retro {
                @include theme-picker-parts( nth($retro_colours, 1), nth($retro_colours, 2), nth($retro_colours, 3), nth($retro_colours, 4) );
            }

            &.vintage {
                @include theme-picker-parts( nth($vintage_colours, 1), nth($vintage_colours, 2), nth($vintage_colours, 3), nth($vintage_colours, 4) );
            }
        }
    }
}
