$grayscale_normal: #373737;
$grayscale_dark: #0f0f0f;
$grayscale_bright: #848388;
$grayscale_light: #b7b7af;

$pal: $grayscale_normal, $grayscale_dark, $grayscale_bright, $grayscale_light;

$grayscale_colours: $pal;
$theme_colours: $pal;