$vintage_gold: #cd434f;
$vintage_daisy: #e9e7da;
$vintage_stem: #636b46;
$vintage_greenery: #373f27;

$pal: $vintage_gold, $vintage_daisy, $vintage_stem, $vintage_greenery;

$vintage_colours: $pal;
$theme_colours: $pal;